
#status
{
font-size: 18px;
}

body {
    background-size: cover;
    background-position: center;
    background-color:wheat;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
#bed_room{
   border-radius: 10px;
    color: blue;
    
}
#tv_ac{
    border-radius: 10px;
     color: darkblue;
     
 }

 #desk{
    border-radius: 10px;
     color: darkgoldenrod;
     
 }
 #cat_dog{
    border-radius: 10px;
     color: darkred;
     
 }
 #fruit_basket{
    border-radius: 10px;
     color: deepskyblue;
     
 }

 .image{
     text-align:center;
 }